[submodule "jeeves-core"]
	path = jeeves-core
	url = https://github.com/Jeeves-Cluster-Organization/jeeves-core.git
	branch = main
[submodule "jeeves-airframe"]
	path = jeeves-airframe
	url = https://github.com/Jeeves-Cluster-Organization/jeeves-airframe.git
